@import "tailwindcss";

@theme {
  --color-plot-bg: #F8F5F2;
  --color-plot-text: #1F1F1F;
  --color-plot-brown: #A67B5B;
  --color-plot-olive: #708238;
  --color-plot-light: #F5EFE6;
}

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  background-image: radial-gradient(circle, #ffffff10 1px, transparent 1px);
  background-size: 40px 40px;
}