@import "tailwindcss";

@theme {
  --color-plot-bg: #F8F5F2;
  --color-plot-text: #1F1F1F;
  --color-plot-brown: #A67B5B;
  --color-plot-olive: #708238;
  --color-plot-light: #F5EFE6;
  
  --font-serif: "Times New Roman", serif;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}